* {
  box-sizing: border-box;
}

.title {
  display: block;
}

.cat,
.question,
.area[name="cars"] {
  display: inline-block;
}

.part {
  margin-bottom: 20px;
}

.area,
.question,
.title[for="message"],
.title[for="brand"] {
  margin-bottom: 10px;
}

.part .title:last-child * {
  margin-bottom: 0;
}

.question {
  margin-top: 0;
}

.area[name="color"] {
  box-sizing: content-box;
}

.area[name="cars"] {
  height: 70px;
}
